.combo-container {
  position: relative;
  width: 170px;
  top: 30px;
  left: -15px;
  margin: 0 auto;
}

.combo-bar {
  position: relative;
  height: 24px;
  background-color: #555;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.combo-fill.fire {
  background: linear-gradient(
    270deg,
    #ff6a00,
    #ffb800,
    #ff6a00,
    #ff0000,
    #ff6a00
  );
  background-size: 400% 100%;
  animation: fire-glow 1.5s linear infinite;
}

@keyframes fire-glow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.combo-text {
  position: absolute;
  top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: white;
  z-index: 2;
  line-height: 20px;
  pointer-events: none;
}

.combo-fire {
  display: none;
  position: absolute;
  top: 5px;
  font-size: 24px;
  pointer-events: none;
  z-index: 3;
}

.combo-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;
  z-index: 1;
  border-radius: 12px 0 0 12px;
}

.combo-segments {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

.combo-segments .segment {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: "Teeny";
  src: url("https://sunflower-land.com/testnet-assets/fonts/Teeny.otf");
}
